[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "lib/peanut-gb"]
	path = lib/peanut-gb
	url = https://github.com/deltabeard/Peanut-GB.git
